<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WF.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WF.My.MySettings>
            <setting name="ConfiguraCboMargemLucro" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>5</string>
                        <string>10</string>
                        <string>15</string>
                        <string>20</string>
                        <string>25</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ConfiguraCboStatus" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ativado</string>
                        <string>Desativado</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ConfiguraCboMedidaEstoque" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>M² - Metro Quadrado</string>
                        <string>Cm² - Centímetro Quadrado</string>
                        <string>M - Metro</string>
                        <string>Cm - Centímetro</string>
                        <string>Un - Unidade</string>
                        <string>Ct - Cartela</string>
                        <string>Cx - Caixa</string>
                        <string>Dz - Duzia</string>
                        <string>Gs - Grosa</string>
                        <string>Pa - Par</string>
                        <string>Pç - Peça</string>
                        <string>Pr - Par</string>
                        <string>Pt - Pacote</string>
                        <string>Rl - Rolo</string>
                        <string>Kg - Kilo</string>
                        <string>G - Grama</string>
                        <string>Sc60 - Saca 60Kg</string>
                        <string>L - Litro</string>
                        <string>M³ - Metro Cúbico</string>
                        <string>Ml - Mililitro</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ConfiguraCboMedidaCompra" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>M² - Metro Quadrado</string>
                        <string>Cm² - Centímetro Quadrado</string>
                        <string>M - Metro</string>
                        <string>Cm - Centímetro</string>
                        <string>Un - Unidade</string>
                        <string>Ct - Cartela</string>
                        <string>Cx - Caixa</string>
                        <string>Dz - Duzia</string>
                        <string>Gs - Grosa</string>
                        <string>Pa - Par</string>
                        <string>Pç - Peça</string>
                        <string>Pr - Par</string>
                        <string>Pt - Pacote</string>
                        <string>Rl - Rolo</string>
                        <string>Kg - Kilo</string>
                        <string>G - Grama</string>
                        <string>Sc60 - Saca 60Kg</string>
                        <string>L - Litro</string>
                        <string>M³ - Metro Cúbico</string>
                        <string>Ml - Mililitro</string>
                    </ArrayOfString>
                </value>
            </setting>
        </WF.My.MySettings>
    </userSettings>
</configuration>