<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WF.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WF.My.MySettings>
            <setting name="ConfiguraCboMargemLucro" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>5</string>
                        <string>10</string>
                        <string>15</string>
                        <string>20</string>
                        <string>25</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ConfiguraCboStatus" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ATIVADO</string>
                        <string>DESATIVADO</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ConfiguraCboMedidaEstoque" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>M² - METRO QUADRADO</string>
                        <string>CM² - CENTÍMETRO QUADRADO</string>
                        <string>M - METRO</string>
                        <string>CM - CENTÍMETRO</string>
                        <string>UN - UUNIDADE</string>
                        <string>CT - CARTELA</string>
                        <string>CX - CAIXA</string>
                        <string>DZ - DÚZIA</string>
                        <string>GS - GROSA</string>
                        <string>PA - PAR</string>
                        <string>PÇ - PEÇA</string>
                        <string>PR - PAR</string>
                        <string>PT - PACOTE</string>
                        <string>RL - ROLO</string>
                        <string>KG - KILO</string>
                        <string>G - GRAMA</string>
                        <string>SC60 - SACA 60Kg</string>
                        <string>L - LITRO</string>
                        <string>M³ - METRO CÚBICO</string>
                        <string>ML - MILILITRO</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ConfiguraCboMedidaCompra" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>M² - METRO QUADRADO</string>
                        <string>CM² - CENTÍMETRO QUADRADO</string>
                        <string>M - METRO</string>
                        <string>CM - CENTÍMETRO</string>
                        <string>UN - UUNIDADE</string>
                        <string>CT - CARTELA</string>
                        <string>CX - CAIXA</string>
                        <string>DZ - DÚZIA</string>
                        <string>GS - GROSA</string>
                        <string>PA - PAR</string>
                        <string>PÇ - PEÇA</string>
                        <string>PR - PAR</string>
                        <string>PT - PACOTE</string>
                        <string>RL - ROLO</string>
                        <string>KG - KILO</string>
                        <string>G - GRAMA</string>
                        <string>SC60 - SACA 60Kg</string>
                        <string>L - LITRO</string>
                        <string>M³ - METRO CÚBICO</string>
                        <string>ML - MILILITRO</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ConfiguraCboCatalago" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>CÓDIGO INTERNO</string>
                        <string>CÓDIGO FORNECEDOR</string>
                        <string>CÓDIGO BARRAS</string>
                    </ArrayOfString>
                </value>
            </setting>
        </WF.My.MySettings>
    </userSettings>
</configuration>